#helloPanel {
    border: 1px rgb(189, 119, 119) dashed;
}
.fn__flex-1.protyle{
    z-index: 1;
}
[annotation]  {
    width: 300px;
    min-height: 0px;
    opacity: 0.3;
    transform-origin: 0px 0px;
    scale: var(--scale-factor);
    z-index: 0;
    [data-type="pin"]{
        display: none;
    }
    .protyle{
        min-height: 0px !important;

        .protyle-breadcrumb{
            display: none;
        }

        .protyle-wysiwyg{
            padding: 0px !important;

            div[data-node-id]{   
                padding: 0px;
                margin: 0px 4px;
                font-size: 0.7em;
            }
            }
    }
    
    .block__icons.block__icons--menu{
        min-height: 24px !important;
        .fn__space.fn__flex-1.resize__move{
            height: 24px;
        }
        display: none;
    }

}

[annotation]:hover{
    opacity: 1;
    z-index: 1000;
    .block__icons.block__icons--menu{
        display: flex;
    }
    scale:1.4;
}

.annptation_background{
    padding: 0px 0px 5px 0px;
}

[style*="background-color"][style*="var(--b3-pdf-background37)"] { border-bottom: 3px solid rgb(219, 179, 241) !important; border-radius: 0px !important; }
[style*="background-color"][style*="var(--b3-pdf-background35)"] { border-bottom: 3px solid rgb(137, 191, 247) !important; border-radius: 0px !important; }
[style*="background-color"][style*="var(--b3-pdf-background33)"] { border-bottom: 3px solid rgb(129, 223, 228) !important; border-radius: 0px !important; }
[style*="background-color"][style*="var(--b3-pdf-background31)"] { border-bottom: 3px solid rgb(204, 235, 148) !important; border-radius: 0px !important; }
[style*="background-color"][style*="var(--b3-pdf-background29)"] { border-bottom: 3px solid rgb(245, 212, 128) !important; border-radius: 0px !important; }
[style*="background-color"][style*="var(--b3-pdf-background27)"] { border-bottom: 3px solid rgb(210, 188, 169) !important; border-radius: 0px !important; }
[style*="background-color"][style*="var(--b3-pdf-background25)"] { border-bottom: 3px solid rgb(251, 168, 177) !important; border-radius: 0px !important; }
[style*="background-color"][style*="var(--b3-pdf-background7)"] { background-color: rgb(204, 235, 148) !important; border: none !important; }
[style*="background-color"][style*="var(--b3-pdf-background5)"] { background-color: rgb(245, 212, 128) !important; border: none !important; }
[style*="background-color"][style*="var(--b3-pdf-background3)"] { background-color: rgb(210, 188, 169) !important; border: none !important; }
[style*="background-color"][style*="var(--b3-pdf-background11)"] { background-color: rgb(137, 191, 247) !important; }
[style*="background-color"][style*="var(--b3-pdf-background9)"] { background-color: rgb(129, 223, 228) !important; }
[style*="background-color"][style*="var(--b3-pdf-background13)"] { background-color: rgb(219, 179, 241) !important; }
[style*="background-color"][style*="var(--b3-pdf-background1)"] { background-color: rgb(251, 168, 177) !important; border: none !important; }
[style*="background-color"][style*="var(--b3-pdf-background14)"] { background-color: rgb(255, 176, 225) !important; }
[style*="background-color"][style*="var(--b3-pdf-background8)"] { background-color: rgb(232, 247, 207) !important; }
[style*="background-color"][style*="var(--b3-pdf-background10)"] { background-color: rgb(206, 245, 247) !important; }
[style*="background-color"][style*="var(--b3-pdf-background12)"] { background-color: rgb(186, 233, 255) !important; }
[style*="background-color"][style*="var(--b3-pdf-background2)"] { background-color: rgb(255, 228, 230) !important; border: none !important; }
[style*="background-color"][style*="var(--b3-pdf-background4)"] { background-color: rgb(234, 220, 206) !important; border: none !important; }
[style*="background-color"][style*="var(--b3-pdf-background6)"] { background-color: rgb(255, 240, 147) !important; border: none !important; }
[style*="background-color"][style*="var(--b3-pdf-background26)"] { border-bottom: 3px solid rgb(255, 228, 230) !important; border-radius: 0px !important; }
[style*="background-color"][style*="var(--b3-pdf-background28)"] { border-bottom: 3px solid rgb(234, 220, 206) !important; border-radius: 0px !important; }
[style*="background-color"][style*="var(--b3-pdf-background30)"] { border-bottom: 3px solid rgb(255, 240, 147) !important; border-radius: 0px !important; }
[style*="background-color"][style*="var(--b3-pdf-background32)"] { border-bottom: 3px solid rgb(232, 247, 207) !important; border-radius: 0px !important; }
[style*="background-color"][style*="var(--b3-pdf-background34)"] { border-bottom: 3px solid rgb(206, 245, 247) !important; border-radius: 0px !important; }
[style*="background-color"][style*="var(--b3-pdf-background36)"] { border-bottom: 3px solid rgb(186, 233, 255) !important; border-radius: 0px !important; }
[style*="background-color"][style*="var(--b3-pdf-background38)"] { border-bottom: 3px solid rgb(255, 176, 225) !important; border-radius: 0px !important; }