#helloPanel {
    border: 1px rgb(189, 119, 119) dashed;
}
[annotation]  {
    width: 300px;
    min-height: 0px;
    opacity: 0.6;
    transform-origin: 0px 0px;
    scale: var(--scale-factor);

    .protyle{
        min-height: 0px !important;

        .protyle-breadcrumb{
            display: none;
        }

        .protyle-wysiwyg{
            padding: 0px !important;

            div[data-node-id]{   
                padding: 0px;
                margin: 0px 4px;
                font-size: 0.7em;
            }
            }
    }
    
    .block__icons.block__icons--menu{
        min-height: 24px !important;
        .fn__space.fn__flex-1.resize__move{
            height: 24px;
        }
        display: none;
    }

}

[annotation]:hover{
    opacity: 1;
    z-index: 1000;
    .block__icons.block__icons--menu{
        display: flex;
    }
}